@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 text-slate-900;
}

input, textarea, select, button {
  font-family: inherit;
}

/* Marquee untuk Breaking News */
@keyframes marquee {
  0% {
    /* mulai dari luar kanan layar */
    transform: translateX(100%);
  }
  100% {
    /* geser sampai keluar kiri */
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-flex;
  white-space: nowrap;
  /* supaya selalu cukup lebar untuk animasi penuh */
  min-width: 100%;
  animation: marquee 18s linear infinite;
}
